@{
    ViewData["Title"] = "About";
}


<p>Use this area to provide additional information.</p>
<div>
    @ViewBag.Title0
</div>
<div>
    @ViewBag.Title1
</div>
<div>
    @ViewBag.Title2
</div>
<div>
    @ViewBag.Title3
</div>